PORT=5000
DB_DATABASE=smartmart
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
MY_EMAIL=your-email@example.com
MY_PASSWORD=your-app-password
DEFAULT_ADMIN_USERNAME=MartAdmin
DEFAULT_ADMIN_PASSWORD=admin12345
DEFAULT_ADMIN_EMAIL=khansa88013@gmail.com
